@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Sacramento", cursive, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(112, 88, 56);
    background-image: url(images/sand.jpeg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-53%);
}

.squareDiv {
    background-color: white;
    border-style: solid;
    border-color: wheat;
}

.squareDiv:hover {
    background-color: #603a06;
    transform: scale(1.25);
}

.sketched {
    background-color: #603a06;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: wheat;
    height: 100px;
    width: 350px;
    border-radius: 15px;
}

.title h1, .options p {
    color: #603a06;
}

.title h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
}

.options {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    bottom: -5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: wheat;
    height: 120px;
    width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    font-family: Helvetica, Arial, sans-serif;
}

.slidecontainer {
    width: 70%; /* Width of the outside container */
    margin-top: 20px;
}
.slidecontainer:hover {
    transform: scale(1.1);
}

/* The slider itself */
.gridSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.gridSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.gridSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #8f5709; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.gridSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #8f5709; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.gridLabel {
    font-size: 16px;
}

.clearButton {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(255, 243, 224);
    color: rgb(112, 88, 56);
    height: 50px;
    width: 80px;
    margin-left: 60px;
}

.clearButton:hover {
    transform: scale(1.1);
    background-color: rgb(255, 193, 193);
}