html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(112, 88, 56);
    background-image: url(images/sand.jpeg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.squareDiv {
    background-color: white;
    border-style: solid;
}

.squareDiv:hover {
    background-color: black;
}

.title {

}

.options {

}
